


.CreateAnAccountPage {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: linear-gradient(180deg, #EE92B9 0%, #F1A4C4 55%, #FFFFFF 100%);
  }
  
  .Unnamed4Copy1 {
    width: 691px;
    height: 897px;
    left: 781px;
    top: 144px;
    position: absolute;
  }
  
  .CreateAnAccount {
    left: 357px;
    top: 48px;
    position: absolute;
    text-align: center;
    color: #333333;
    font-size: 96px;
    font-family: 'Abhaya Libre SemiBold';
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  
  .Rectangle1,
  .Rectangle6,
  .Rectangle7,
  .Rectangle8,
  .Rectangle9,
  .Rectangle10,
  .Rectangle11,
  .Rectangle12 {
    position: absolute;
    background: #F8F2F5;
    box-shadow: 4px 5px 15px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .Rectangle1 {
    width: 590px;
    height: 81px;
    left: 78px;
    top: 266px;
  }
  
  .Rectangle6 {
    width: 590px;
    height: 81px;
    left: 766px;
    top: 266px;
  }
  
  .Rectangle7 {
    width: 590px;
    height: 81px;
    left: 766px;
    top: 426px;
  }
  
  .Rectangle8 {
    width: 590px;
    height: 81px;
    left: 78px;
    top: 426px;
  }
  
  .Rectangle9 {
    width: 466px;
    height: 94px;
    left: 487px;
    top: 644px;
    border-radius: 50px;
  }
  
  .Rectangle10 {
    width: 354px;
    height: 78px;
    left: 78px;
    top: 904px;
    border-radius: 50px;
  }
  
  .Rectangle11 {
    width: 354px;
    height: 78px;
    left: 543px;
    top: 904px;
    border-radius: 50px;
  }
  
  .Rectangle12 {
    width: 354px;
    height: 78px;
    left: 1002px;
    top: 904px;
    border-radius: 50px;
  }
  
  .Username,
  .YourEMail,
  .YourAge,
  .CreatePassword,
  .GetStarted,
  .Or,
  .Twitter,
  .Facebook,
  .Google {
    position: absolute;
    color: #333333;
    font-size: 20px;
    font-family: 'Amiko';
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  
  .Username {
    width: 521px;
    height: 33px;
    left: 88px;
    top: 233px;
  }
  
  .YourEMail {
    left: 781px;
    top: 236px;
  }
  
  .YourAge {
    width: 521px;
    height: 33px;
    left: 781px;
    top: 393px;
  }
  
  .CreatePassword {
    width: 521px;
    height: 33px;
    left: 88px;
    top: 393px;
  }
  
  .GetStarted {
    width: 270px;
    height: 33px;
    left: 595px;
    top: 670px;
    text-align: center;
  }
  
  .Or {
    width: 53px;
    height: 33px;
    left: 703px;
    top: 804px;
    text-align: center;
    color: #7F7B7B;
  }
  
  .Twitter {
    width: 245px;
    height: 33px;
    left: 133px;
    top: 934px;
    text-align: center;
  }
  
  .Facebook {
    width: 189px;
    height: 33px;
    left: 635px;
    top: 934px;
    text-align: center;
  }
  
  .Google {
    width: 245px;
    height: 33px;
    left: 1074px;
    top: 934px;
    text-align: center;
  }
  
  .GgGoogle {
    width: 20px;
    height: 20px;
    left: 1117px;
    top: 934px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .Vector {
    width: 16.50px;
    height: 16.67px;
    background: #333333;
  }
  
  .CiHamburgerLg {
    width: 56px;
    height: 52px;
    left: 22px;
    top: 22px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .CiHamburgerLg .Vector {
    width: 42px;
    height: 29px;
    border: 2px black solid;
  }
  